<h2>Best - Worst<h2>

<ul>
  <li><%= link_to("Postion asc", :sort => "asc") %></li>
  <li><%= link_to("Postion desc", :sort => "desc") %></li>
</ul>  

<div id="content">
<% @burritos.each do |burrito| %>
  <div>
    <%= image_tag(burrito.photo.url, :height => 300, :width => 200) %>
    <%= burrito.name %> 
  </div>
<% end %>
</div>