<h2>Home</h3>

<div id="content">
  <p>Picture of delicious burrito</p>
  <p>Awesome description</p>
  <p>Link to Descriptions burrito</p>
</div>

<div id="sidebar">
  <p>Why burritos?</p>
  <p>Why not ? .... </p>
  <p>About this obsession</p>
</div>
