<!DOCTYPE html>
<html>
<head>
  <title>Loco</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
  <ul>
    <li><a href="/best">Best ------------ Worst</a></li>
    <li><a href="/">Type</a></li>
    <li><a href="/">Location</a></li>
    <li><a href="/">Random</a></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
